Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2022-08, with the labels that each got.

#436 Add Enumerated instance for AgsGuideQuality
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsGuideQuality.scala
Labels: ags

#404 Scala3
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix.conf
  .scalafmt.conf
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/catalog/src/main/scala/lucuma/catalog/package.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AdaptersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/UcdSuite.scala
Labels: catalog, testkit, tests, ags

#442 Revert "Switch to Enumerated.form and start using kittens"
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsGuideQuality.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/GuideProbe.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/AngularSize.scala
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogTargetResult.scala
  modules/catalog/src/main/scala/lucuma/catalog/Fields.scala
  modules/catalog/src/main/scala/lucuma/catalog/Ucd.scala
  modules/catalog/src/main/scala/lucuma/catalog/package.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbAngularSize.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbFieldId.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbUcd.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/package.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AngularSizeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/CatalogTargetResultSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/FieldsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/GuideStarCandidateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/UcdSuite.scala
Labels: catalog, testkit, tests, ags

#443 Switch to Enumerated.from and kittens
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsGuideQuality.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/GuideProbe.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/AngularSize.scala
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogTargetResult.scala
  modules/catalog/src/main/scala/lucuma/catalog/Fields.scala
  modules/catalog/src/main/scala/lucuma/catalog/Ucd.scala
  modules/catalog/src/main/scala/lucuma/catalog/package.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbAngularSize.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbFieldId.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbUcd.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/package.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AngularSizeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/CatalogTargetResultSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/FieldsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/GuideStarCandidateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/UcdSuite.scala
Labels: catalog, testkit, tests, ags

#448 Update lucuma core
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
Labels: catalog

#451 Enumerated derivation
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsGuideQuality.scala
  modules/ags/src/main/scala/lucuma/ags/GuideProbe.scala
Labels: ags
