Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2022-12, with the labels that each got.

#509 Update lucuma-core
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/AgsBenchmark.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/ags/GuideStarCandidateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
Labels: catalog, testkit, tests, benchmarks, ags

#511 Avoid duplicated code
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
Labels: catalog

#513 Import brightness
  README.md
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/PIT_sidereal.csv
  modules/tests/jvm/src/main/resources/PIT_sidereal_mixed_units.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests

#515 Import brightness
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/PIT_sidereal.csv
  modules/tests/jvm/src/main/resources/PIT_sidereal_mixed_units.csv
  modules/tests/jvm/src/main/resources/assign_units_sidereal.csv
  modules/tests/jvm/src/main/resources/targets_test_case.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests, ags

#516 Improvements on the way multiple angles are handled
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Labels: tests, ags

#518 Improve parsing of columns with different capitalizations
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/another_test.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests, ags

#519 Rework on how we store and store multiple positions
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/AgsBenchmark.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Labels: tests, benchmarks, ags

#520 Default to RV 0 if not present
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Labels: catalog

#521 Fixes to ags sorting
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Labels: tests, ags

#522 Fix edge case on import
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/import_test_2.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests

#525 More lenient epoch parser
  modules/catalog/src/main/scala/lucuma/catalog/csv/ImportEpochParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/stars_pm_epoch.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests

#524 Support a few more replacements for units
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/PIT_sidereal.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests
