Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2022-04, with the labels that each got.

#353 Update lucuma-core without BrightnessValue.
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
Labels: catalog, tests

#356 Basic gaia support
  .mergify.yml
  benchmarks/baseline.csv
  build.sbt
  flake.nix
  modules/benchmarks/baseline.csv
  modules/benchmarks/src/main/scala/lucuma/catalog/GaiaBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/SimbadBenchmark.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/shared/src/main/scala/lucuma/catalog/SimbadQuerySample.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/VoTableParserSuite.scala
Labels: catalog, tests, benchmarks

#358 Performance improvements
  modules/benchmarks/baseline.csv
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/VoTableSamples.scala
Labels: catalog, tests, benchmarks

#359 Replace Validated by Either
  README.md
  modules/benchmarks/src/main/scala/lucuma/catalog/GaiaBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/SimbadBenchmark.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/Fields.scala
  modules/catalog/src/main/scala/lucuma/catalog/Ucd.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/catalog/src/main/scala/lucuma/catalog/package.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/shared/src/main/scala/lucuma/catalog/SimbadQuerySample.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AdaptersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/SimbadAdapterSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/UcdSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/VoTableParserSuite.scala
Labels: catalog, tests, benchmarks

#360 Correct catalog coordinates for proper motion
  modules/benchmarks/baseline.csv
  modules/benchmarks/src/main/scala/lucuma/catalog/GaiaBenchmark.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/testkit/src/main/scala/lucuma/catalog/VoTableSamples.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AdaptersSuite.scala
Labels: catalog, testkit, tests, benchmarks

#361 Band constraints
  modules/catalog/src/main/scala/lucuma/catalog/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/Fields.scala
  modules/catalog/src/main/scala/lucuma/catalog/package.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBandsList.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BandsListSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/UcdSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/VoTableParserSuite.scala
Labels: catalog, testkit, tests

#362 Update lucuma-core and a contains method for BrightnessConstraints
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
Labels: catalog, testkit, tests
