Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2022-06, with the labels that each got.

#381 Sort candidate guide stars by vignetting
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/AgsGuideQuality.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/GuideProbe.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/package.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/GuideStarCandidateSuite.scala
Labels: testkit, tests, ags

#394 Add a method to calculate the widest possible constraints for cacheab…
  modules/ags/src/main/scala/lucuma/ags/package.scala
Labels: ags

#399 Use Node.js built-in fetch
  build.sbt
  modules/tests/js/package.json
  modules/tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  project/plugins.sbt
Labels: tests

#401 Update fs2-data
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/CatalogSearch.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AdaptersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/VoTableParserSuite.scala
Labels: catalog, tests

#405 Update lucuma-core
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogProblem.scala
  modules/catalog/src/main/scala/lucuma/catalog/CatalogQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/VoTableParser.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBandsList.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/AdaptersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/SimbadAdapterSuite.scala
Labels: catalog, testkit, tests, ags

#412 More efficient
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
Labels: testkit, tests, ags
