Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2023-02, with the labels that each got.

#569 Switch to BrightnessValue
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/AgsBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/GaiaBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/SimbadBenchmark.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
  modules/testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
Labels: catalog, testkit, tests, benchmarks, ags

#573 Small changes in object info string building
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
  modules/tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
Labels: catalog, tests

#576 Add support for AGS using average parallactic
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog/src/main/scala/lucuma/catalog/BrightnessConstraints.scala
Labels: catalog, ags
