Repository gemini-hlsw/lucuma-catalog, pull requests merged in 2023-01, with the labels that each got.

#532 Move some utility methods from explore here
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  project/build.properties
Labels: ags

#534 Support importing parallax/rv/z
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/tests/jvm/src/main/resources/targets_pv.csv
  modules/tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Labels: catalog, tests

#536 Update lucuma-core
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
Labels: tests, ags

#537 Add improvements to gaia queries and remove support for Gaia2
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
Labels: catalog, tests

#548 Update lucuma-core and make PosAngleConstraint non-optional
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/benchmarks/src/main/scala/lucuma/catalog/votable/AgsBenchmark.scala
Labels: benchmarks, ags
